@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Pretendard, Arial, Helvetica, sans-serif;
}

@layer components {
  /* SolidButton 활성화 상태 */
  .solid-button-orange {
    @apply bg-orange-300 text-white active:scale-95;
  }

  .solid-button-outOrange {
    @apply border border-orange-300 bg-transparent text-orange-300 active:scale-95;
  }

  /* SolidButton 비활성화 상태 */
  .solid-disabled-button-orange {
    @apply bg-gray-100 text-white;
  }

  .solid-disabled-button-outOrange {
    @apply border border-gray-100 bg-transparent text-gray-100;
  }
}
