@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Pretendard, Arial, Helvetica, sans-serif;
}

@layer utilities {
  .header-tablet {
    @apply h-[60px] gap-[24px] px-[72px] py-[15px] text-lg;
  }

  .header-pc {
    @apply h-[88px] gap-[24px] px-[240px] py-[24px] text-xl;
  }
}