@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Pretendard, Arial, Helvetica, sans-serif;
}

@keyframes bounceIn {
  0% {
    transform: scale(0.3);
    opacity: 0;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.animate-bounceIn {
  animation: bounceIn 0.6s ease-out;
}

@layer components {
  .modal-image-container {
    @apply animate-bounceIn relative h-[80px] w-[80px];
  }

  .modal-title {
    @apply mt-[24px] text-2lg font-semibold text-black-400;
  }

  .modal-sub-title {
    @apply mt-[8px] text-md font-regular text-gray-400;
  }

  /* PC 크기에서 적용될 스타일 */
  @media (min-width: 1200px) {
    .modal-image-container {
      @apply h-[120px] w-[120px];
    }

    .modal-title {
      @apply mt-[32px] text-2xl;
    }

    .modal-sub-title {
      @apply mt-[16px] text-xl;
    }
  }
}
